<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cctv_page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!--===navbar start ===-->
<!--
  <nav id="mainNavbar" class="navbar navbar-dark navbar-expand py-0 fixed-top">
    <a href="#" class="navbar-brand">
        <img src="{% static 'img/cctv.png' %}">
        슬기로운 지키미</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="" class="nav-link">폭력 cctv 내역</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">폭력 발생 위험도</a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-outline-secondary float-right mt-2 mr-2 rounded-pill">Login</button>
</nav>
-->
   <!--===navbar end ===-->


<div class="my_page_wrapper">
	
	<div class="my_page_info row">
	
		
			<img class = "col-4" src = "annonymous_user.png"/>
		
			<div class= "col-8">
				
					<div class = "div_mmg_acc black">
						계정관리
					</div>
				
					<div class = "div_acc_grid row">
								
						<div class = "div_acc_info white col-5">
							<input type="text" placeholder="이름" class="div_acc_str"/>
							<input type="button" value="수정" class="div_acc_info div_acc_modify"/>
						</div>
						
						<div class = "div_acc_info white col-5" >
							<input type="text" placeholder="핸드폰 번호" class="div_acc_str"/>
							<input type="button" value="수정" class="div_acc_info div_acc_modify"/>
						</div>
		

					</div>
					
					<div class = "div_acc_grid row">
								
						<div class = "div_acc_info white col-5">
							<input type="text" placeholder="이메일" class="div_acc_str"/>
							<input type="button" value="수정" class="div_acc_info div_acc_modify"/>
						</div>
						
						<div class = "div_acc_info white col-5">
							<input type="password" placeholder="비밀번호" class="div_acc_str"/>
							<input type="button" value="수정" class="div_acc_info div_acc_modify"/>
						</div>
		

					</div>

					<div class = "div_acc_grid">
					
						<input type="button" style="visibility:hidden"/>
						<input type="submit" value="저장" class="div_acc_info"/>
						
					</div>
					
					
					
		
			</div>
		
			<!--<div class = "col-6">
		
				
			
				<div class = "div_button_acc_info white">
					<p></p>
				</div>

			</div>
		
			<div class = "col-6"/>
		
				<div class = "div_button_acc_info">
				
				</div>
		
				
				<div class = "div_button_acc_info white">
					<p></p>
				</div>

		</div>
		-->
		
	</div>
	
	</div>
	
</div>
