{% extends 'parent_page.html'%}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>data_page</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS User Profile Card</title>
	<link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>

<div class="data-wrapper">

    <div class="data-right">

        <div class="data-info">
            <h3>{{ schoolInfo.school_data_school.school_name }}</h3>
            <div class="info_data">
              <div class="data">
                <h4>시군구</h4>
                <p class="point">{{ schoolInfo.school_data_school.school_address1.region_name }}</p>
              </div>
              <div class="data">
                <h4>환경지표</h4>
                <p class="point">{{ schoolInfo.school_data_school.school_address1.region_environment_score }}</p>
              </div>
              <div class="data">
                <h4>위해지표</h4>
                <p class="point">{{ schoolInfo.school_data_harzard_score }}</p>
              </div>
              <div class="data">
                <h4>경감지표</h4>
                <p class="point">{{ schoolInfo.school_data_alleviate_score }}</p>
              </div>
              <div class="data">
                <h4>위험 정도</h4>
                <p class="point">{{ schoolInfo.school_data_total_score }}</p>
              </div>
              <div class="data">
                <h4>학교폭력위험도</h4>
                <p class="point">{{ schoolInfo.school_danger_danger_degree }}</p>
              </div>
            </div>
        </div>
      
      <div class="data-exposition">
            <h3>지표 정보</h3>
            <div class="exposition">
                 <div class="data">
                    <h4>환경지표</h4>
                    <p>학교폭력위험도에 부정적 영향을 미치는 서울특별시 자치구 환경을 반영하여 점수를 산정한 상대적 지표 </p>
                    
                 </div>
                 <div class="data">
                   <h4>위해지표</h4>
                    <p>학교폭력위험도 가중에 영향을 미치는 서울특별시 고등학교별 위해 요소를 반영하여 점수를 산정한 상대적 지표</p>
                    
              </div>
              <div class="data">
                <h4>경감지표</h4>
                <p>학교폭력위험도 경감에 영향을 미치는 서울특별시 고등학교별 경감 요소를 반영하여 점수를 산정한 상대적 지표 </p>
                
             </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
</body>
</html>

{% endblock %}