@import url('https://fonts.googleapis.com/css2?family=Jua&family=Ubuntu:wght@300;400&display=swap');

/*font-family: 'Jua', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  text-decoration: none;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #f3f3f3;
}
/* cctv page start */

.cctv-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  height: 95%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  margin-top:3rem;
}

.cctv-left {
  width: 20%;
  background: #f76e6e;
  padding: 40px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: #fff;
}

.cctv-list {
  font-size: 35px;
}

.cctv-ul {
  margin-top: 40px;
  font-size: 20px;
}

.cctv-li {
  margin-top: 40px;
  font-size: 20px;
  color: #000000;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px dotted #000000;
  cursor: pointer;
}

.cctv-li:hover{
  color:#ff0000;
}

/* -------------- */

.collapseable{
  visibility: collapse;
}

.scroll-bg {
  background:#D6D7D1;
  width: 200px;
  height: 520px;
  margin: 10% auto;
  padding: 5px;
  border-radius: 5px;
}

.scroll-div {
  width: 187px;
  background: transparent;
  height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-div::-webkit-scrollbar {
  width: 14.5px;
}

.scroll-div::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 20px;
}

.scroll-div::-webkit-scrollbar-thumb{
  background-color: rgb(205 92 92 / 50%);
  border-radius: 20px;
}

.scroll-div::-webkit-scrollbar-thumb:hover{
  background-color: indianred;
}

.scroll-object {
  color: #51525a;
  font-size: 15px;
  padding: 20px;
}
/* ----------- */



.cctv-right {
  width: 80%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 
video {
  width: 100%    !important;
  height: 85%   !important;
} 


.video-name {
  margin-bottom: 45px;
  padding-bottom: 10px;
  border-bottom: 3px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
}

/* ------------------------video 페이지 mediaQuery------------------------ */

@media screen and (max-width: 768px) {

  video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: 30%   !important;
  }

  .cctv-wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:block;
    width: 85%;
    height: 95%;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    border-radius: 50px;
    display:table;
    margin-top:10rem;
    background: #ffffff;
    padding:5%; 
    margin-top:15rem;
    /* flex-direction:column; */
    /* flex-direction: column-reverse!important; */
  }

  


  .cctv-left {
    width:100%;
    background: #f76e6e;
    padding: 40px 25px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
      border-radius: 50px;
    
    display:table-footer-group;
  }

  .cctv-right{
    width:100%;
    border-radius: 10px;
    border-radius: 50px;
    
    display:table-header-group;
  }

}


/* ------------------------video 페이지 mediaQuery------------------------ */

/* data page start */


.data-wrapper{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  height: auto;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);

}

.data-wrapper .data-left{
  width: 15%;
  background:#f76e6e;
  padding: 40px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: #fff;
}

.data-left .data-title-name {
  font-size: 35px;
}

.data-ul, .data-li{
  margin-top: 40px;
  font-size: 20px;
}

.data-wrapper .data-right{
  width: 100%;
  background: #f76e6e;
  padding: 30px 25px;
  border-radius: 50px;
}

.data-wrapper .data-right .data-info {
  font-size: 30px;
  /* margin-top: 15px; */
  /* margin-bottom: 150px; */
}

.data-right .info_data {
  font-size: 20px;
  text-align: center;
}

.data-wrapper .data-right .data-exposition{
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  font-size: 28px;
}

.exposition .data h4 {
  font-size: 20px;
  text-align: center;
}

.exposition .data p {
  text-align: center;
}


.data-wrapper .data-right .data-info h3,
.data-wrapper .data-right .data-exposition h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #e0e0e0;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Ubuntu', sans-serif;
}

.data-wrapper .data-right .info_data,
.data-wrapper .data-right .exposition{
  display: flex;
  justify-content: space-between;
}

.data-wrapper .data-right .info_data .data,
.data-wrapper .data-right .exposition .data{
  width: 45%;
  margin:1rem;
}

.data-wrapper .data-right .info_data .data h4,
.data-wrapper .data-right .exposition .data h4{
    color: #333;
    margin-bottom: 5px;
    font-family: 'Jua', sans-serif;
    letter-spacing: 3px;
    font-size: 21px;
    font-weight: 600;
}

.data-wrapper .data-right .info_data .data p,
.data-wrapper .data-right .exposition .data p{
  font-size: 17px;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Jua', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 200;
}

/* ------------------------Data 페이지 mediaQuery------------------------ */

@media screen and (max-width: 768px) {
  
  .data-wrapper .data-right .info_data, .data-wrapper .data-right .exposition {
    display: block;
    justify-content: space-between;
  }

  .data{
    width:100%!important;
  }


  .data-wrapper .data-right {
    margin-top: 35rem;
  }
  
  .data-wrapper .data-right .data-info {
    margin-bottom: 0!important;
  }


}


/* ------------------------Data 페이지 mediaQuery------------------------ */



/* mypage start */


.my-wrapper{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 70%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.my-wrapper .my-left{
  width: 30%;
  background: #f76e6e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.my-wrapper .my-left img{
  border-radius: 5px;
  margin-top: 80px;
  width: 250px;
}

.my-wrapper .my-left .my-h4{
  margin-top: 25px;
  font-size: 35px;
}

.my-wrapper .my-left .my-p{
  margin-top: 10px;
  font-size: 25px;
}

.my-wrapper .my-right{
  width: 70%;
  background: #fff;
  padding: 90px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.my-wrapper .my-right .my-info,
.my-wrapper .my-right .my-content{
  margin-bottom: 3rem;
}

.my-wrapper .my-right .my-info .my-h3,
.my-wrapper .my-right .my-content .my-h3{
  margin-bottom: 45px;
  padding-bottom: 25px;
  border-bottom: 3px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
}

.my-wrapper .my-right .my-info-data,
.my-wrapper .my-right .my-content-data{
  display: flex;
  justify-content: space-between;
}

.my-wrapper .my-right .my-info-data .my-data,
.my-wrapper .my-right .my-content-data .my-data{
  width: 45%;
  margin-left: 20px;
}

.my-wrapper .my-right .my-info-data .my-data .my-h4,
.my-wrapper .my-right .my-content-data .my-data .my-h4{
    color: #353c4e;
    margin-bottom: 5px;
    font-size: 28px;
}

.my-wrapper .my-right .my-info-data .my-data .my-p,
.my-wrapper .my-right .my-content-data .my-data .my-p{
  font-size: 20px;
  margin-bottom: 8px;
  color: #919aa3;
}

.my-button ul{
  display: flex;
  margin-left: 85%;
}

.my-button ul li{  
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.my-button ul li a{
  text-decoration: none;
  color :#333;
  display: block;
  font-size: 20px;
}

/* ------------------------mypage 페이지 mediaQuery------------------------ */

@media screen and (max-width: 768px) {
  .my-wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    margin-top:12rem;
    height: auto;
    display: block;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
}

.my-wrapper .my-left {
    width: 100%;
    background: #f76e6e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.my-wrapper .my-right {
    width: 100%;
    background: #fff;
    padding: 90px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


/* ------------------------mypage 페이지 mediaQuery------------------------ */


.cursor_setting:hover{
  cursor: pointer;
  color:#00f;
}

.apply_button{
  border:0px;
  background-color:#fff;
  font-size:15px;
}

/* 프로필 이미지 */

#profile-img{
  width:15rem;
  height:15rem;
  border-radius: 50%;
}

#profile-img:hover{
  cursor:Pointer;
}

.nav-profile-img {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
}

.nav-profile-img img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
backface-visibility: hidden;
}

.point{
  color:#fff!important;
  font-size : 1.2rem!important;

}