<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CCTV</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="wrapper">
    <!--top menu & menu button-->
    <div class="sidebar">
      <div class="title">
        <h1 class="logo">JIKIMI</h1>
        <h3> cctv_page</h3>
        <p>레이아웃 표시용</p>
      </div>
        <div class="scroll-bg">
          <div class="scroll-div">
            <div class="scroll-object">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta magni praesentium eaque eius provident quia, quo corrupti facere placeat illum neque id ipsum, dolore asperiores ullam nesciunt reiciendis. Nobis, necessitatibus fuga, ipsa aliquam quis odio perferendis totam perspiciatis autem excepturi sed natus architecto esse? Soluta illum ipsum dolorem nesciunt saepe.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sit aut eius quod consequatur, perferendis aspernatur veritatis natus non sapiente nisi magni earum corrupti sint officiis dignissimos accusamus asperiores ratione eligendi iure, mollitia excepturi voluptatum culpa sunt. Quasi, facere ex. Illo, laborum sunt mollitia ab ipsum iste in ipsa qui!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nostrum nulla suscipit ad vero consectetur laboriosam voluptatibus! Quos exercitationem dolorum unde quas laudantium maiores necessitatibus. Velit ex libero ratione! Saepe doloremque similique voluptate eos nulla amet a aspernatur itaque? Optio quidem exercitationem nemo amet rem quas odio hic asperiores deserunt.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, ipsam consectetur cumque pariatur quasi quam animi, cupiditate fugit nihil ab quibusdam quisquam modi aspernatur odio similique asperiores est vitae aperiam distinctio id necessitatibus itaque adipisci. Molestiae, quas? Nam, incidunt quisquam vero, fuga repellat qui esse doloremque dolorem alias voluptate quasi?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint voluptatibus aperiam omnis blanditiis non sequi quam! Hic, soluta obcaecati. Odio, eum? Deserunt nam accusantium laborum error labore dignissimos et reprehenderit nulla odio, eos autem ab asperiores nesciunt ex, modi deleniti inventore, earum laudantium! Temporibus dicta corrupti tempore omnis veniam quasi numquam mollitia perspiciatis cumque sit animi id dolores in voluptates, labore enim fuga deserunt impedit. Harum soluta eligendi doloremque incidunt, expedita numquam quod! Quae odio, velit illum, voluptate id commodi officia similique eum, provident asperiores totam impedit! Aperiam facilis magnam vel eius, laudantium facere delectus repellat, quasi quo deleniti corrupti!
            </div>
          </div>
        </div>
    </div>
  </div>

    <div class="section">
      <div class="top_navbar">
        <div class="hamburger">
          <a href="#">
            <ion-icon name="menu-outline"></ion-icon>
          </a>
        </div>
      </div>
    </div>














  <!-- ionicons link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!--main js link -->
<script src="/script.js"></script>





</body>
</html>