{% extends 'parent_page.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>mypage</title>
	<link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>

<div class="my-wrapper">
    <div class="my-left">
        <img src="{% static 'my_page/annonymous_user.png'  %}" alt="user" width="100">
        <h4 class="my-h4">{{request.user.email}}</h4>
         <p class="my-p">{{request.user.user_school.school_name}}</p>
    </div>

    <!-- Inforamtion -->

    <div class="my-right" id="showProfile">
        <div class="my-info">
            <h3 class="my-h3">Information</h3>
            <div class="my-info-data">
                 <div class="my-data">
                    <h4 class="my-h4">Email</h4>
                    <p class="my-p">{{request.user.email}}</p>
                 </div>
                 <div class="my-data">
                   <h4 class="my-h4">Phone</h4>
                    <p class="my-p">{{request.user.user_phone}}</p>
              </div>
            </div>
        </div>

        <div class="my-content collapseable">
            <div class="my-content-data">
                 <div class="my-data">
                    <p class="my-p">change password</p>
              </div>
            </div>
        </div>
      
        <div class="my-button">
          <ul>
            <li id = "edit" class = "cursor_setting">Edit</li>
          </ul>
        </div>

    </div>

    <!-- End Info -->


    <!-- Edit Profile -->

    <div class="my-right" style="display:none;" id="editProfile">
        <form method="POST">
        {% csrf_token %}
        
        <input type="text" value="{{request.user.user_school.school_id}}" name="school_name" hidden>       <!-- 학교 정보를 감춰서 넣는다. -->
        <div class="my-info">
            <h3 class="my-h3">Information</h3>
            <div class="my-info-data">
                 <div class="my-data">
                    <h4 class="my-h4">Email</h4>
                    <input type="text" value = "{{request.user.email}}" name = "email"/>
                 </div>
                 <div class="my-data">
                   <h4 class="my-h4">Phone</h4>
                   <input type="text" value = "{{request.user.user_phone}}" name = "phone"/>
              </div>
            </div>
        </div>
      
      <div class="my-content">
            <div class="my-content-data">
                 <div class="my-data">
                    <p class="my-p">current password</p>
                    <input type="password" placeholder="Password" name = "password1"/>
              </div>

              <div class="my-data">
                <p class="my-p">confirm password</p>
                <input type="password" placeholder="Confirm Password" name = "password2"/>
          </div>
            </div>
        </div>
        <div class="my-button">
          <ul>
            <li id="cancle" class = "cursor_setting">Cancel</li>
            <li><input type="submit" class = "cursor_setting apply_button" value="Apply"/></li>
          </ul>
        </div>
    </form>

    </div>


</div>

</body>

<script>
    $("#edit").click(               // edit
        function(){
            $("#showProfile").css({"display":"none"});
            $("#editProfile").css({"display":"block"});
        });

    $("#cancle").click(             // cancle
        function(){
            $("#showProfile").css({"display":"block"});
            $("#editProfile").css({"display":"none"});
        });

</script>

</html>

{% endblock %}